/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Poppins", sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 60px;
}
nav {
  width: 81.5%;
  margin: 0.5% auto;
  display: flex;
  height: 100%;
  gap: 3px;
}
nav > * {
  flex: 1;
}
nav > img {
  height: 70%;
  margin-top: 0.1%;
}
nav > ul {
  flex-basis: 60rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  margin-top: 1.4%;
  font-weight: bold;
  font-size: 0.8rem;
}
nav ul li {
  flex: 1;
  text-align: center;
}

nav form {
  flex-basis: 2rem;
  margin: 0;
  padding: 0;
  margin-top: 0.3%;
  position: relative;
}
nav form input {
  padding: 0.7rem 1rem;
  padding-left: 2.5rem;
  font-weight: bold;
  background: rgb(242, 242, 242);
  border: none;
}
nav form input::placeholder {
  color: black;
  font-size: 0.8rem;
}
nav form img {
  position: absolute;
  left: 5%;
  top: 25%;
  width: 5%;
}
nav > a {
  height: 65%;
  flex-basis: 15rem;
  padding: 0.8rem 2rem;
  padding-left: 3.5rem;
  margin-top: 0.4%;
  font-weight: bold;
  position: relative;
  font-size: 0.8rem;
}
nav > a > img {
  position: absolute;
  width: 15%;
  left: 10%;
  top: 12%;
}
nav a {
  text-decoration: none;
  color: black;
}

/* SECTION WITH THE HEADER CLASS */

.header {
  background: rgb(196, 0, 0);
  height: 87px;
}
.header-container {
  width: 80%;
  margin: 0 auto;
}
.header-container h1 {
  color: white;
  font-size: 2.6rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5%;
  font-weight: 500;
}
.header-container ul {
  margin-top: 0.5%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  padding-right: 10%;
}
.header-container ul li:first-child a {
  border-bottom: 5px solid white;
  padding-bottom: 4px;
}
.header-container a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}
footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
